<?php

use Manager\Erp\Block\AMultiRowField;

/**
 * @var AMultiRowField $block
 */
?>

<div class="design_theme_ua_regexp" id="grid<?= $block->getHtmlId() ?>">
    <div class="admin__control-table-wrapper">
        <table class="admin__control-table" id="<?= $block->getId() ?>">
            <thead>
                <tr>
                    <th>Column</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
            <?= $block->getHtmlRows(); ?>
            </tbody>
        </table>
    </div>
    <input type="hidden" name="<?= $block->getInputElementName("__empty") ?>" value="[]"/>
</div>
